extends layout

block content

  div.container
    div.left-sidebar
      div.player-match-count Your Matches: 
        span 0
      div.computer-match-count Computer Matches: 
        span 0
      span.label Difficulty
      select.computer-difficulty
        - for (var val = 1; val <= 10; val++)
            if val == 5
              option(selected)=val
            else
              option=val
    div.content
      div.status
      div.cards
    div.player-matched-cards
      div.match-title Player's Matches
    div.computer-matched-cards
      div.match-title Computer's Matches
block scripts
  script(src="./javascripts/memory-game.js")