doctype html
html
  head
    title Memory Game
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='./javascripts/shuffle.js')
    script(src='./javascripts/Card.js')
    block scripts
