body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

a {
  color: #00B7FF;
}

.cards {
  width: 1300px;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

.card {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.empty {
  display: inline-block;
  width:50px;
  height:73px;
} 

.container {
    display: flex;
    justify-content: center;
}
.left-sidebar {
  width: 175px;
  padding-top: 15px;
}
.right-sidebar {
  width: 200px;
}

.matched-cards {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 560px;
  user-select: none;
}

.player-matched-cards {
  min-width: 230px;
}

.computer-matched-cards {
  min-width: 230px;
}

.matched-card-pair {
  height: 20px;
}